/*FONT*/
@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada:700');
@import url('https://fonts.googleapis.com/css?family=Schoolbell');
button{
	outline: none;
	cursor: pointer;
}
/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Schoolbell', cursive;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**********************TEST*********************/
::selection, -moz-::selection{
	background-color: tomato;
	color: #fff;
}
/*TEXT*/
nav ul li > a, h1, h2{
	font-family: 'Schoolbell', cursive;
}
/*NAV*/
#hamburger-wrapper{
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 3;
}
#hamburger{
	position: relative;
	width: 40px;
	height: 45px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;
}
#hamburger > span{
	position: absolute;
	display: block;
	width: 50%;
	height: 4px;
	background: #ebafd8;
	margin-top: 6px;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
#hamburger > span:nth-child(even){
	left: 50%;
	border-radius: 0 10px 10px 0;
}
#hamburger > span:nth-child(odd){
	left: 0;
	border-radius: 10px 0 0 10px;
}
#hamburger > span:nth-child(1), #hamburger > span:nth-child(2){
	top: 0px;
}
#hamburger > span:nth-child(3), #hamburger > span:nth-child(4){
	top: 10px;
}
#hamburger > span:nth-child(5), #hamburger > span:nth-child(6){
	top: 20px;
}
/*hamburger menu CLICK*/
#hamburger.open span:nth-child(1), #hamburger.open span:nth-child(6){
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
#hamburger.open span:nth-child(2), #hamburger.open span:nth-child(5){
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#hamburger.open span:nth-child(1){
	left: 5px;
	top: 7px;
}
#hamburger.open span:nth-child(2){
	left: calc(50% - 5px);
	top: 7px;
}
#hamburger.open span:nth-child(3){
	left: -50%;
	opacity: 0;
}
#hamburger.open span:nth-child(4){
	left: 100%;
	opacity: 0;
}
#hamburger.open span:nth-child(5){
	left: 5px;
	top: 17px;
}
#hamburger.open span:nth-child(6){
	left: calc(50% - 5px);
	top: 17px;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 100vh;
	background: #aa9ad7;
	overflow: hidden;
	z-index: 1;
}
header nav{
	float: left;
	width: 50%;
}
header nav > ul{
	width: 250px;
	margin: 250px auto 0;
}
header nav li{
	position: relative;
	line-height: 80px;
	padding: 0 1.5em;
	text-align: center;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	overflow: hidden;
}
header nav li:after{
	content: '';
	position: absolute;
	left: 50%;
	right: 50%;
	bottom: 10px;
	height: 30px;
	background: rgba(204, 173, 204, 0.6);
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
}
header nav li:hover:after{
	left: 0;
	right: 0;
}
header nav li > a{
	color: #353537;
	font-size: 36px;
	text-decoration: none;
}
section{
	width: 100%;
	height: 100vh;
}
section article{
	width: 85%;
	height: 90%;
	overflow-y: scroll;
}
/*scroll line section*/
#sec0{}
#sec0 > article{
	border: none;
}
#sec0 > article > .scroll-wrap{
	position: relative;
	width: 100%;
	height: 2000px;
}
#sec0 .scroll-wrap .wrapper{
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	margin: 0 auto;
}
#scroll-line{
	position: relative;
	width: 100%;
	margin: 0 auto;
}
#scroll-line:after{
	content: '';
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	bottom: -150px;
	margin: 0 auto;
	width: 76px;
	height: 87px;
	background: url('../img/scroll_line_img1.png') no-repeat;
	background-size: cover;
}
#scroll-line.bottom:after{
	background-image: url('../img/scroll_line_img2.png');
	background-size: 92px;
	width: 92px;
}
#sec0 .scroll-wrap ul{
	position: relative;
	width: 60%;
	margin: 0 auto;
}
#sec0 .scroll-img-list{
	position: absolute;
	width: 200px;
	height: 200px;
	opacity: 0;
	overflow: hidden;
	/*
	-webkit-transform: rotateX(100deg);
	-moz-transform: rotateX(100deg);
	-ms-transform: rotateX(100deg);
	-o-transform: rotateX(100deg);
	transform: rotateX(100deg);
	transition: .5s;
	*/
}
/*
#sec0 .scroll-img-list.active{
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	transform: rotateX(0deg);
}
*/
#sec0 .scroll-img-list:nth-child(odd){
	right: 0;
}
#sec0 .scroll-img-list > img{}
#sec1{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	background: #EB528D;
}
#sec1 > span{
	color: #fff;
	font-size: 72px;
	font-weight: 700;
	letter-spacing: 3px;
}
section article{
	width: 90%;
	height: 80%; 
	border: 1px solid tomato;
	margin: 80px auto 0;
}
.container > .img-list{}
.container > .img-list > li{
	float: left;
	width: 300px;
	height: 300px;
	overflow: hidden;
	cursor: pointer;
}
#pop-up{
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 30vw;
	height: 50vh;
	background: #f0f0f0;
	border-radius: 10px;
	z-index: 30;
}
#pop-up #pop-up-slider-container{
	overflow: hidden;
	margin: 0 auto;
}
#pop-up .pop-up-slider{
/*	width: 100%;*/
}
article > .container{
	width: 80%;
	height: 100%;
	margin: 0 auto;
}
/*BOOKS AJAX SECTION*/
#books-section{}
#books-section article.strArt{}
#books-section article.strArt h2{}
#books-section .books-container{
	width: 90%;
	margin: 0 auto;
}
#books-section .books-container .books-info{
	float: left;
	width: 250px;
	height: 300px;
	margin: 1.5em;
	text-align: center;
	line-height: 30px;
}
#books-section .books-container .books-info > div{
	width: 250px;
	height: 250px;
	overflow: hidden;
}
#books-section .books-container .books-info img{
	width: 100%;
}
#books-section .books-container .books-info > h3{
	font-size: 24x;
}
#books-section .books-container .books-info > p{
	font-size: 12px;
	color: #555;
}