/*FONT*/
@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Spoqa Han Sans', 'Sans-serif';
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*html*/
a{
	text-decoration: none;
}
html{
	height: 100%;
}
body{
	position: relative;
	height: 100%;
}
header{}
/*hamburger button*/
header > .btnWrapper{
	position: fixed;
	top: 3%;
	right: 3%;
	z-index: 3;
}
#hamburger{
	position: relative;
	width: 40px;
	height: 45px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;
}
#hamburger > span{
	position: absolute;
	display: block;
	width: 50%;
	height: 4px;
	background: #eb528d;
	margin-top: 6px;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
#hamburger > span:nth-child(even){
	left: 50%;
	border-radius: 0 10px 10px 0;
}
#hamburger > span:nth-child(odd){
	left: 0;
	border-radius: 10px 0 0 10px;
}
#hamburger > span:nth-child(1), #hamburger > span:nth-child(2){
	top: 0px;
}
#hamburger > span:nth-child(3), #hamburger > span:nth-child(4){
	top: 10px;
}
#hamburger > span:nth-child(5), #hamburger > span:nth-child(6){
	top: 20px;
}
/*hamburger menu CLICK*/
#hamburger.open span:nth-child(1), #hamburger.open span:nth-child(6){
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
#hamburger.open span:nth-child(2), #hamburger.open span:nth-child(5){
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#hamburger.open span:nth-child(1){
	left: 5px;
	top: 7px;
}
#hamburger.open span:nth-child(2){
	left: calc(50% - 5px);
	top: 7px;
}
#hamburger.open span:nth-child(3){
	left: -50%;
	opacity: 0;
}
#hamburger.open span:nth-child(4){
	left: 100%;
	opacity: 0;
}
#hamburger.open span:nth-child(5){
	left: 5px;
	top: 17px;
}
#hamburger.open span:nth-child(6){
	left: calc(50% - 5px);
	top: 17px;
}
/*NAVIGATION*/
#navWrapper{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 30vh;
	background: rgba(0, 0, 0, 0.8);
}
#navWrapper > .wrapper{
	width: 80%;
	margin: 0 auto;
	color: #fff;
} 
#navWrapper h1{
	font-size: 36px;
	letter-spacing: 1px;
}
#navWrapper > nav{}
#navWrapper > nav ul{}
#navWrapper > nav ul li{}
/*SECTION > INDEX*/
section{
	width: 100%;
	height: 100%;
}
#index-section{}
#index-section article{
	width: 50%;
	height: 100%;
}
#index-section article:first-child{
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	background: #ffd100;
}
#index-section article > .txtWrap{
	line-height: 150%;
}
#index-section article > .txtWrap > h2{
	font-size: 36px;
	color: #fff;
	margin-bottom: 40px;
}
#index-section article > .txtWrap > p{
	font-size: 18px;
}
/*SECTION > PROCESS*/
#process-section{}
#process-section article{}
#process-section article .wrapper{
	width: 65%;
	margin: 0 auto;
}
/*진행과정 목록*/
#process-section dl{
	float: left;
	width: 250px;
	height: 400px;
	text-align: center;
	-webkit-transition: .5s;
	transition: .5s;
}
#process-section dl dt{
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	border-radius: 300px;
	line-height: 200px;
	margin: 0 auto;
}
#process-section dl dd{
	display: none;
}
#process-section dl:hover dd{
	display: inline-block;
}